.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rem;
}

.header-menu {
    display: flex;
    /* gap: 10%; */
    gap: 2rem;
    list-style: none;
    color: white;
}


.header-menu>li:hover{
    color: var(--blue);
    cursor: pointer
}